<template>
    <form class="auth-form">
        <h1>Login</h1>
        <div class="auth-inputs">
            <input name="username" placeholder="Username" v-model="username">
            <input name="password" placeholder="Password" v-model="password">
            <button @click.prevent="authenticate()">Confirm</button>
        </div>
    </form>
</template>

<script>

    export default {
        name: 'Auth',
        components: {

        },
        data: function(){
            return {
                username: "",
                password: ""
            }
        },
        beforeCreate(){
            if (this.$router.currentRoute.name === "Logout"){
                this.$store.dispatch('logout')
            }
        },
        mounted() {

        },
        methods: {
            authenticate: function () {
                this.$store.dispatch('login', {username: this.username, password: this.password})
            }
        }
    }
</script>

<style>

    .auth-form {
        position: absolute;
        min-width: 360px;
        max-width: 100vw;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        border: 1px solid black;
        padding: 20px;
    }

    .auth-form h1 {
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
    }

    .auth-form .auth-inputs {
        display: flex;
        flex-direction: column;
        margin-top: 80px;
    }

    .auth-inputs input{
        margin-bottom: 20px;
    }

</style>