<template>
    <div id="app">
        <router-view/>
    </div>
</template>


<script>
    export default {
        name: 'App',
        components: {

        }
    }
</script>


<style>
    body{
        width: 100%;
        height: 100vh;
        font-family: "Tahoma";
      }
</style>
